/*
Lista de Conteúdo
*/
#lista_conteudos {
	padding: 0;
	font-family: arial, Helvetica, sans-serif, verdana;	
	margin: 0 0 10px;
  }

#lista_conteudos .conteudos {
	margin: 5px 0;
	border-top: 2px solid #E6E6E6;
	padding: 5px 0 0;
}

#lista_conteudos .pesquisar {
	margin: 30px 0 10px
}

#lista_conteudos .pesquisarBotao {
	border: 0;
	width: 26px;
	height: 26px;
	vertical-align: top;
	padding: 0;
	background: url(../../images/search.png) no-repeat;
}

#lista_conteudos .conteudos:first-child {
	border-top: 0;
	padding: 0;	
}
  

#lista_conteudos .imagem img {
	max-width: 120px;
	max-height: 100px;
	margin: 6px 10px 10px 0;
	display: block;
	float: left; 
  }

#lista_conteudos .imagem img:hover {
	border-color: #014a89; 
  }

#lista_conteudos .info_img {
	float: left;
	font: bold 1em Arial, Helvetica, Verdana, sans-serif;
	color: #707276;
	width: 480px;
	margin: 4px 0;
  }

#lista_conteudos .info {
	color: #707276;
	float: none;
	/*font: bold 1em calibri,Arial,Helvetica,Verdana,sans-serif !important;*/
	font: bold 1em Arial,Helvetica,Verdana,sans-serif;	
	margin: 4px 0;
	width: auto;
  }

#lista_conteudos .titulo {
	/*border-bottom: 1px solid #DDDDDD;*/
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 0;
	color: #E9953D;
  }

#lista_conteudos .data_alteracao {
	font: bold 1.1em Arial, Helvetica, Verdana, sans-serif;
	margin: 0px 0px 5px 0px; 
    color: #666666;
}

#lista_conteudos .texto {
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	color: #707276;
	margin: 0px 0px 5px 0px;
	text-align: justify; 
  }

#lista_conteudos .leia_mais {
	font: bold .9em Arial, Helvetica, Verdana, sans-serif;
	color: #707276; 
  }

#lista_conteudos .leia_mais a {
  color: #017FBA;
  text-decoration: none;
  }

#lista_conteudos .leia_mais a:hover {
  color: #2F2F2F;
  text-decoration: underline; 
  }

/* ---------- Título Portlets ---------- */
#lista_conteudos .tit_portlets {
	color: #E9953D;
	font: bold 2.1em arial, Helvetica, sans-serif, verdana;	
	margin: 0 0 5px;
  }

#lista_conteudos .naveg {
	fonte-size: 12px;
	clear: both;
	margin: 0;
	text-align: right; 
  }

#lista_conteudos .texto_resultado {
	float: left;
	color: #555555; 
  }

#lista_conteudos .acoes {
	clear: both;
	height: auto;
	margin-top: 1em;
	overflow: hidden;
	width: auto;
	float: left; 
  }

#lista_conteudos .acoes .acao {
	margin: 1px 10px 1px 1px; 
  }

#lista_conteudos .paginacao {
	color: #555555; 
	border-top: 1px solid #0172BE;
	float: none !important;
	padding: 5px 0 0;
  }

#lista_conteudos .separador {
	border-bottom: 1px solid #C8C9CA;
	color: #707276;
	font: 1em Helvetica-Neue,Verdana,Arial,sans-serif;
	padding: 0 0 10px;
	text-decoration: none;
	width: 550px; 
  }
  
  
#lista_conteudos {
    .search-results, .delta-selector, .page-links {
        margin-top: 3px;
    }
}
.ie9 #lista_conteudos, .ie10 #lista_conteudos {
    .search-results, .delta-selector, .page-links {
        margin-top: 1px;
    }
}
.chrome #lista_conteudos {
    .search-results, .delta-selector, .page-links {
        margin-top: 7px;
    }
}
#lista_conteudos select {
    padding: 0 !important;
    vertical-align: bottom;
}
#lista_conteudos .aui-field-label-inline-label {
    font-weight: normal !important;
}
#lista_conteudos .conteudos:after, #lista_conteudos .imagem img:after, #lista_conteudos .info_img:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*
Exibir Conteudo
*/
.exibir_conteudo {
	margin: 0 0 20px 0;
}

/*
.exibir_conteudo h3.titulo {
	margin: 0 0 11px 0;
	color: #014675;
	font-size: 16px;
	line-height: 17px;
}
*/
.exibir_conteudo h3.titulo {
	color: #E9953D;
    font: bold 1.6em arial,Helvetica,sans-serif,verdana;
    margin: 0 0 10px;
}

.exibir_conteudo img.interna_opc1 {
	max-width: 700px;
	margin-bottom: 13px;
}
.exibir_conteudo p {
	margin: 6px 0 6px 0;
	color: #333;
	font-size: 13px;
	line-height: 15px;
	text-align: justify;
}
.exibir_conteudo p a {
	color: #0172BE;
	text-decoration: none;
}
.exibir_conteudo p a:hover {
	text-decoration: underline;
}
.exibir_conteudo .acoes {
	margin: 25px 0 10px;
	border-top: 2px solid #ccc;
	padding-top: 4px;
	text-align: right;
}
.exibir_conteudo .acoes a.voltar {
	height: 16px;
	background: url(../../images/acoes_voltar.png) no-repeat 0 0;
	margin: 1px 5px 0;
	vertical-align: top;
	display: inline-block;
	padding: 4px 0 0 9px;
	line-height: 0;
	font-size: 12px;
	color: #0172BE;
	text-decoration: none;
	float: left;
}
.exibir_conteudo .acoes a.voltar:hover {
	font-weight: bold;
}
.exibir_conteudo .acoes input.email {
	width: 18px;
	height: 16px;
	background: url(../../images/acoes_email.png) no-repeat 0 0;
	margin: 0 7px;
	vertical-align: top;
	border: 0;
	text-indent: -9999px;
	cursor: pointer;
}
.exibir_conteudo .acoes input.imprimir {
	width: 16px;
	height: 16px;
	background: url(../../images/acoes_imprimir.png) no-repeat 0 0;
	margin: 0 7px;
	vertical-align: top;
	border: 0;
	text-indent: -9999px;
	cursor: pointer;
}
.exibir_conteudo .acoes .separador {
	display: inline-block;
	width: 1px;
	height: 11px;
	background: #ccc;
	margin: -4px 17px 0;
	vertical-align: top;
}

