/* links uteis */
.links_uteis .links_uteis_titulo {
  color: #991818;
  font-family: Calibri, Arial, Helvetica, 'Helvetica neue';
  font-weight: bold;
  margin: 10px 0;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 2px;
  border-bottom: 1px solid #1273c7; }

.links_uteis .links_uteis_grupo {
  margin: 0 0 15px 0; }

.links_uteis .links_uteis_grupo_nome {
  color: #333;
  font-family: 'open sans', Arial, Helvetica, 'Helvetica neue';
  font-weight: bold;
  margin: 10px 0 2px;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase; }

.links_uteis .links_uteis_grupo_nome a {
  color: #333; }

/* destaques  */
.destaque_box {
  width: 230px;
  height: 290px;
  border: 1px solid #808080;
  box-shadow: 0 0 8px rgba(181, 150, 157, 0.8);
  background-color: #e6e6e6;
  display: inline-block; }

.destaque .destaque_titulo {
  color: #1273c7;
  font-family: Calibri, Arial, Helvetica, 'Helvetica neue';
  font-weight: normal;
  margin: 10px 15px 5px;
  font-size: 17px;
  line-height: 18px;
  padding-bottom: 2px; }

.destaque .destaque_texto {
  color: #333;
  font-family: Arial, Helvetica, 'Helvetica neue';
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  text-align: justify;
  margin: 0 15px;
  width: 202px; }

.destaque .destaque_texto a {
  color: #333; }

