/*bullet_brick*/
span.bullet_brick {
	margin-right: 4px;
}
span.bullet_brick i {
	display: inline-block;
	height: 12px;
	width: 6px;
	background-color: #1273c7;
}
span.bullet_brick i:first-child {
	width: 18px;
	margin-right: 4px;
}


/* links uteis */
.links_uteis .links_uteis_titulo {
    color: #fe9a2e;
    font-family: Calibri, Arial, Helvetica, 'Helvetica neue';
    font-weight: bold;
    margin: 10px 0;
	font-size: 16px;
    line-height: 18px;
	padding-bottom: 2px;
	border-bottom: 1px solid #1273c7;
}

.links_uteis .links_uteis_grupo {
    margin: 0 0 15px 0;
}

.links_uteis .links_uteis_grupo_nome {
    color: #333;
    font-family: 'open sans', Arial, Helvetica, 'Helvetica neue';
    font-weight: bold;
    margin: 10px 0 2px;
	font-size: 11px;
    line-height: 14px;
	text-transform: uppercase;
}
.links_uteis .links_uteis_grupo_nome a {
    color: #333;
}


/* destaques  */
.destaque_box {
	width: 300px;
	height: 225px;
	border: 1px solid #808080;
	box-shadow: 0 0 8px rgba(181, 150, 157, 0.8);
	background-color: #e6e6e6;
	display: inline-block;
}

.destaque .destaque_titulo {
    color: #fe9a2e;
    font-family: Calibri, Arial, Helvetica, 'Helvetica neue';
    font-weight: normal;
    margin: 10px 15px 5px;
	font-size: 17px;
    line-height: 18px;
	padding-bottom: 2px;
}#fe9a2e
.destaque .destaque_texto {
    color: #333;
    font-family: Arial, Helvetica, 'Helvetica neue';
    font-weight: normal;
	font-size: 11px;
    line-height: 14px;
	text-align: justify;
	margin: 0 15px;
	width: 278px;
}
.destaque .destaque_texto a {
    color: #333;
}

/* distribuicao */
.distribuicao .distribuicao_grupo {
    margin: 0 0 15px 0;
}
.distribuicao .distribuicao_titulo {
    color: #fe9a2e;
    font-family: Calibri, Arial, Helvetica, 'Helvetica neue';
    font-weight: bold;
    margin: 10px 0;
	font-size: 16px;
    line-height: 18px;
	padding-bottom: 2px;
	border-bottom: 1px solid #1273c7;
}
.distribuicao .distribuicao_grupo_nome {
    color: #333;
    font-family: 'open sans', Arial, Helvetica, 'Helvetica neue';
    font-weight: bold;
    margin: 10px 0 2px;
	font-size: 11px;
    line-height: 14px;
	text-transform: uppercase;
}
.distribuicao .distribuicao_grupo_texto {
    color: #333;
    font-family: Arial, Helvetica, 'Helvetica neue';
    font-weight: normal;
	font-size: 11px;
    line-height: 13px;
	text-align: justify;
}
.distribuicao .distribuicao_grupo_texto a {
    color: #333;
}

