Caro [$TO_NAME$],<br /><br />

[$WALL_ENTRY_USER_NAME$] enviou uma mensagem no seu mural de recados.<br /><br />

[$WALL_ENTRY_URL$]<br /><br />

Atenciosamente,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />