#set ($css_class = "${css_class} dockbar-split")

#set ($show_breadcrumb = false)

#set ($conta_classe_name = "com.liferay.portal.model.Account")

#set ($contaId = $themeDisplay.getAccount().getAccountId())

#set($enderecoService = $serviceLocator.findService("com.liferay.portal.service.AddressLocalService"))
#set($telefoneService = $serviceLocator.findService("com.liferay.portal.service.PhoneLocalService"))
