/* para nao exibir o primeiro item do breadcrumb */
.portlet-body ul.breadcrumbs li.first {display: none;}

#menu_cabecalho_div {
	position: absolute;
	top: -60px;
	right: 0px;
	/*width: 350px;
	height: 35px;*/
	z-index: 200;
}

#menu_cabecalho_div ul {
	list-style: none;
	margin: 0;
	padding-top: 13px;
	padding-left: 12px;
}
.ie7 #menu_cabecalho_div ul {
	padding-top: 13px;
	padding-left: 12px;
}

#menu_cabecalho_div li, #menu_cabecalho_div a {
	display: inline-block;
}

#menu_cabecalho_div li {
	position: relative;
	vertical-align: top;
}
.ie6 #menu_cabecalho_div li, .ie7 #menu_cabecalho_div li, .ie6 #menu_cabecalho_div a, .ie7 #menu_cabecalho_div a {
	display: inline;
	zoom: 1;
}

#menu_cabecalho_div a {
	font-family: Myriad, Arial, Verdana;
	font-size: 13px;
	font-weight: bold;
	margin: 0 1px;
	padding: 3px 5px 3px 16px;
	text-decoration: none;
	color: white;
}
#menu_cabecalho_div a.last {
	border-right: 0;
}
#menu_cabecalho_div a:hover {
	text-decoration: underline;
}
.ie7 #menu_cabecalho_div a {
	padding: 4px 15px;
}

/* ---------- Footer ---------- */

#footer {
   background: none repeat scroll 0 0 #EAEDF0;
   border: 4px solid white;
   border-radius: 10px 10px 10px 10px;
   color: #083863;
   font-weight: bold;
   margin: 10px 14px 5px;
   padding: 8px 4px 4px;
   text-align: left;
}
#footer ul {
	list-style: none;
	margin: 0;
	padding-top: 13px;
	padding-left: 12px;
	color: #083863;
}
.ie7 #footer ul {
	padding-top: 13px;
	padding-left: 12px;
	color: #083863;
}

#footer li, #footer a {
	display: inline-block;
	color: #083863;
}

#footer li {
	position: relative;
	vertical-align: top;
}
.ie6 #footer li, .ie7 #footer li, .ie6 #footer a, .ie7 #footer a {
	display: inline;
	zoom: 1;
	color: #083863;
}

#footer a {
	font-size: 11px;
	margin: 0 1px;
	padding: 3px 17px 3px 16px;
	text-decoration: none;
	border-right: 0;
}
#footer a.last {
	border-right: 0;
}
#footer a:hover {
	text-decoration: underline;
}
.ie7 #footer a {
	padding: 4px 15px;
}
.footer_copyright {
	font-size: 11px;
	margin: 0 1px;
	padding: 3px 17px 3px 16px;
	text-decoration: none;
	color: #FFFFFF;
}

/* Retirada da chamda do login original */
#sign-in {
	display: none;
}


/* navegador */
.nav_lateral {
	padding: 10px 0 0 5px;
	margin-bottom: 15px;
}
.nav_lateral h2 {
	color: #012768;
	font-size: 12px;
	padding: 7px 3px 3px 10px;
	margin: 0 40px 0 0;
	background: #017FBA;
	border-bottom: 1px solid #fff;
}
.nav_lateral h2 a {
	color: #FFFFFF;
	text-decoration: none;
}
.nav_lateral h2 a:hover {
	text-decoration: underline;
}
.nav_lateral ul {
	background: #F3F3F3;
	list-style: none;
	margin: 0 40px 0 0;
	padding: 3px 3px 0 10px;
}
.nav_lateral li {
	padding: 6px 0 2px 0;
	border-bottom: 1px solid #fff;
}
.nav_lateral li a {
	color: #012768;
	text-decoration: none;
}
.nav_lateral li.selected {
	padding: 6px 0 2px 10px;
	background: url(../images/common/nav_selected.png) no-repeat 0 9px transparent
}
.nav_lateral li a.selected {
	color: #012768;
	text-decoration: none;
}
.nav_lateral li a:hover {
	text-decoration: underline;
}

/* links uteis */
.links_uteis {
	height: 231px;
	overflow: auto;
}

.ie7 .links_uteis {
	overflow-y: auto;
	overflow-x: hidden;
}

.links_uteis .categoria {
	border-bottom: 2px solid #E5E5E5;
}

.links_uteis .categoria a {
	background: url(../images/common/icon_folder.png) 0 8px no-repeat;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	color: #404040;
	text-transform: uppercase;
	display: inline-block;
	width: 90%;
	padding: 10px 0 2px 0;
}

.links_uteis .categoria a:hover {
	text-decoration: underline;
}

.links_uteis .categoria a span {
	padding-left: 20px;
	display: block;
}

.links_uteis .links {
	border-top: 1px solid #fff;
}

.links_uteis .links a {
	display: block;
	background: url(../images/common/icon_link.png) 2px 0 no-repeat;
	border-bottom: 1px solid #fff;
	padding: 0 0 1px 16px;
	font-size: 10px;
	font-weight: bold;
	color: #204184;
	margin: 5px 0 5px 3px;
	text-decoration: none;
	border-bottom: 1px solid #F0F0F0;
	width: 90%;
}

.ie7 .links_uteis .links a {
	width: 84%;
}

.links_uteis .links a:hover {
	text-decoration: underline;
}

/* FAQ */
#faq .conteiner {
	background: #EFEFEF;
	padding: 10px 10px 5px;
	margin-bottom: 10px;
}

#faq .pergunta {
	border-bottom: 1px solid #CCCCCC;
	background: url(../images/common/icon_question_blue.png) 0 2px no-repeat;
	padding-left: 20px;
}

#faq .pergunta a {
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	color: #006598;
}

#faq .resposta {
	border-top: 5px solid #fff;
}

#faq .resposta p {
	font-size: 12px;
	margin: 2px 0 5px;
	line-height: 15px;
}

/* exibir conteudo template */
.exibir_conteudo_template { /*
	font-family: arial, helvetica, sans-serif, verdana;
	*/
	padding: 0 9px;
}

.exibir_conteudo_template img.left {
	float: left;
	margin-right: 15px;
}

.exibir_conteudo_template img.right {
	float: right;
	margin-left: 15px;
}

.exibir_conteudo_template h3 {
	color: #012768;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 3px;
}

.exibir_conteudo_template h4 {
	color: #666;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 0 14px 0;
}

.exibir_conteudo_template h4 a {
	color: #666;
	text-decoration: none;
}

.exibir_conteudo_template p {
	color: #737373;
	font-size: 11px;
	margin: 0 0 8px 0;
	text-align: justify;
}

.exibir_conteudo_template p a {
	color: #737373;
	text-decoration: none;
}

.exibir_conteudo_template h4 a:hover,.exibir_conteudo_template p a:hover {
	text-decoration: underline;
}

.rasecmadeiras {
	background: none;
	margin: 0 auto;
	width: 970px;
	position: relative;
}

.cabecalho .logo {
	background: url("../images/common/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 76px;
    text-indent: -9999em;
    width: 346px;
    margin-left: 7px;
    z-index: 9;
    margin-bottom: -31px;
    position: relative;
}

/* ---------- menu topo ---------- */
#menu_topo {
	position: absolute;
	right: 0px;
	top:-77px;
	font-weight: bold;
	text-align: right;
	font-size: 12px;
	text-transform: uppercase;
	color: #CC3300;	
}
.ie7 #menu_topo {
	top:3px;
}
#menu_topo a {
	color: #CC3300;
	text-decoration: none;
}
.ie7 #menu_topo a, .ie7 #menu_topo span.info {
	display: inline-block;
	margin-top: 10px;
	vertical-align: -2px;
}
#menu_topo a:hover {
	text-decoration: underline;
}
#menu_topo span.separador {
	display: inline-block;
	width: 1px;
	height: 10px;
	background: #373B19;
	margin: 0 12px;
}

#menu_topo span.destaque {
	font-size: 18px;
	font-weight: normal;
}


#menu_topo span.cartoes > * {
	vertical-align: bottom;
}

#menu_topo span.cartao {
	display: inline-block;
	margin-right: 4px;
	height: 26px;
}
#menu_topo span.cartao.last {
	margin-right: -5px;
}
#menu_topo span.cartao.master {
	background: url(../images/common/aceita_master.png) no-repeat;
	width: 38px;
}
#menu_topo span.cartao.visa {
	background: url(../images/common/aceita_visa.png) no-repeat;
	width: 38px;
}
#menu_topo span.cartao.construcard {
	background: url(../images/common/aceita_construcard.png) no-repeat;
	width: 36px;
}
#menu_topo span.cartao.diners {
	background: url(../images/common/aceita_diners.png) no-repeat;
	width: 41px;
}
#menu_topo span.cartao.amex {
	background: url(../images/common/aceita_amex.png) no-repeat;
	width: 39px;
}
#menu_topo span.cartao.chequepre {
	background: url(../images/common/aceita_chequepre.png) no-repeat;
	width: 49px;
	height: 33px;
}
